@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
:root {
  --bg-main-color: #000000;
  --bg-second-color: #ffffff;
  --bg-btnprod-color: #d8d8d8;
  --bg-textv-color: #a18a68;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "dm sans", "sans-serif";
}
.container {
  width: 80%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: var(--bg-main-color);
}

header {
  width: 100%;
  height: 100vh;
}
.navigation {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 15%;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 35%;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  width: 60%;
  list-style: none;
}
.nav-icon {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
.slider {
  width: 100%;
  position: relative;
}
.image {
  width: 100%;
}
.photo-model {
  width: 100%;
}
.text-slider {
  position: absolute;
  font-size: 20px;
  top: 34%;
  left: 3%;
  color: var(--bg-second-color);
}
.btn-product {
  position: absolute;
  top: 52%;
  left: 3%;
  color: var(--bg-second-color);
  padding: 5px 20px;
  background-color: var(--bg-btnprod-color);
  border: 1px solid var(--bg-second-color);
  border-radius: 5px;
}
.points {
  position: absolute;
  bottom: 4%;
  left: 50%;
  width: 10%;
}
.products-page {
  width: 100%;
  margin-bottom: 100px;
}
.settings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.settings p a {
  color: var(--bg-textv-color);
}
.photos-products {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 5px;
  row-gap: 25px;
  justify-content: space-between;
}
.product-pic {
  width: 100%;
}
footer {
  width: 100%;
  margin-top: 150px;
}
.lineg {
  width: 100%;
}
.contact-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 24px 0px;
}
.newslatter {
  width: 40%;
  font-size: 8px;
}
.mail {
  display: flex;
  justify-content: space-between;
}
.line10 {
  width: 100%;
}
.list-cont {
  width: 30%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  font-size: 8px;
}
.medias {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.sign {
  width: 40%;
  font-size: 7px;
}
.rrss {
  display: flex;
  justify-content: space-between;
  width: 22%;
}
